body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Lato", sans-serif;
}

.question-class-app {
  background-color: #0e7289;
  background-image: linear-gradient(240deg, #0e7289 13%, #0a4d5c 100%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.desktop-class-app {
  background-color: rgb(243, 214, 206);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.section-common {
  width: 350px;
  height: 500px;
  border-radius: 50px;
  box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #f1cbc0;
}

@media (width <= 500px) {
  .section-common {
    width: calc(100vw - 40px);
    height: 100vh;
    padding: 0 20px;
    border-radius: 0;
    box-shadow: none;
  }

  .button-common {
    margin-bottom: 30px;
  }

  .learn-more-button {
    margin-bottom: 0;
  }
}

@media (height <= 500px) {
  .section-common {
    width: 100vw;
    height: 100vh;
    padding: 0 20px;
    border-radius: 0;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #f1cbc0;
  }
}

.button-common {
  margin-bottom: 30px;
}

.learn-more-button {
  margin-bottom: 0;
}

.button-common {
  border: none;
  width: 100%;
  height: 50px;
  font-size: 16px;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  letter-spacing: 2px;
  /* animate and time the transitions*/
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.button-common:hover {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/* START SECTION */

#start-text {
  color: #c84030;
  font-size: 35px;
}

.start-button {
  font-size: 20px;
  color: #ffffff;
  background-color: #0e7289;
}

.start-button:hover {
  background-color: #083a45;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
  justify-content: center;
}

/* QUESTION SECTION */

.quiz-section {
  background-color: #0e7289;
  background-image: linear-gradient(240deg, #0e7289 13%, #0a4d5c 100%);
}

.question-section {
  margin-top: 20px;
  color: #ffffff;
  width: 100%;
}

.question-count {
  margin-bottom: 10px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  font-size: 19px;
}

/* ANSWERS SECTION */

.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.answer-button {
  max-height: 100%;
  min-height: 45px;
  background: transparent;
  color: white;
  border: 2px solid white;
  margin-top: 30px;
}

@media (width >= 501px) {
  .answer-button:hover {
    background-color: white;
    color: #0e7289;
  }
}

/* END/RESET SECTION */

.upper-text {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.reset-button {
  color: #ffffff;
  background-color: #c84030;
}

.reset-button:hover {
  background-color: hsl(6, 61%, 30%);
}

.learn-more-button {
  color: #ffffff;
  background-color: #0e7289;
}

.learn-more-button:hover {
  background-color: #083a45;
}

#fish-text {
  font-size: 25px;
}

.dogs-img {
  width: 100%;
}

.cat-img {
  width: 60%;
}

.fish-img {
  width: 40%;
}

.dog-lover-img {
  width: 72%;
}

.logo {
  width: 3%;
}

/* 
nav {
    position: fixed;
    font-size: 10px;
    top: 0;
    left: 0;
    right: 0;
    padding: 8px;
    text-align: left;
  } */

.mobile-class-footer {
  display: none;
}

.desktop-class-footer {
  color: #083a45;
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  align-items: center;
  font-size: 12px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px 20px 8px 8px;
}

.landscape {
  display: none;
}

#github-logo {
  color: #083a45;
  height: 22px;
  padding-right: 10px;
}
